#fan {
    text-align: center;
    color: azure;
}

.img{
    text-align: center;
    width: auto;
    height: auto;
}

#it,
.ing {
    text-align: center;
}
.pie,git
.pie-2 {
    font-weight: bold;
    font-size: 24px;
    color: red;
}